# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars

# # Override files
# override.tf
# override.tf.json
# *_override.tf
# *_override.tf.json

# # CLI config
# .terraformrc
# terraform.rc
